@model StudentApplication.Web.Models.StudentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div ng-app="App" ng-controller="TestStudentController as vm">
@*    {{vm.students}}*@
    <table>
        <thead>
        <th><b>Name</b></th>
        <th><b>Email</b></th>
        <th><b>Class</b></th>
        <th><b>EnrollYear</b></th>
        <th><b>City</b></th>
        <th><b>Country</b></th>
        </thead>
        <tbody>
            <tr ng-repeat="student in vm.students" ng-include="vm.getTemplate(student)"></tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="display">
      
      <td>{{student.Name}}</td>
      <td>{{student.Email}}</td>
      <td>{{student.Class}}</td>
      <td>{{student.EnrollYear}}</td>
      <td>{{student.City}}</td>
      <td>{{student.Country}}</td>
        <td>
            <button ng-click="vm.editContact(student)">Edit</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="student.Name" /></td>
        <td><input type="text" ng-model="student.Email" /></td>
        <td><input type="text" ng-model="student.Class" /></td>
        <td><input type="text" ng-model="student.EnrollYear" /></td>
        <td><input type="text" ng-model="student.City" /></td>
        <td><input type="text" ng-model="student.Country" /></td>
        <td>
            <button ng-click="vm.saveContact($index)">Save</button>
            <button ng-click="vm.reset()">Cancel</button>
        </td>
    </script>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="~/Scripts/TestStudent.js"></script>
<script src="~/Scripts/Service.js"></script>